<div class="header-client">
    Lytex
</div>


<div class="container">
    <h4>Restaurantes e mercados</h4>
    <ul class="list-menu">
        <li class="list-prato">
            <div class="Prato-menu">
                <div class="container-menu">
                    <figure>
                        <img src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201810231832_2b3b8c04-73fb-4f23-9c89-b75e538404c6.png" alt="Mcdonald's">
                    </figure>
                    <aside></aside>
                    <main>
                        <h5>Macarâo</h5><span>
                            <p class="starred">descricao do prato para o cliente ficar legal e comprar </span>
                    </main>
                </div>
            </div>
        </li>
        <li class="list-prato">
            <div class="Prato-menu">
                <div class="container-menu">
                    <figure>
                        <img src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201810231832_2b3b8c04-73fb-4f23-9c89-b75e538404c6.png" alt="Mcdonald's">
                    </figure>
                    <aside></aside>
                    <main>
                        <h5>Macarâo</h5><span>
                            <p class="starred">descricao do prato para o cliente ficar legal e comprar </span>
                    </main>
                </div>
            </div>
        </li>
        <li class="list-prato">
            <div class="Prato-menu">
                <div class="container-menu">
                    <figure>
                        <img src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201810231832_2b3b8c04-73fb-4f23-9c89-b75e538404c6.png" alt="Mcdonald's">
                    </figure>
                    <aside></aside>
                    <main>
                        <h5>Macarâo</h5><span>
                            <p class="starred">descricao do prato para o cliente ficar legal e comprar </span>
                    </main>
                </div>
            </div>
        </li>
        <li class="list-prato">
            <div class="Prato-menu">
                <div class="container-menu">
                    <figure>
                        <img src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201810231832_2b3b8c04-73fb-4f23-9c89-b75e538404c6.png" alt="Mcdonald's">
                    </figure>
                    <aside></aside>
                    <main>
                        <h5>Macarâo</h5><span>
                            <p class="starred">descricao do prato para o cliente ficar legal e comprar </span>
                    </main>
                </div>
            </div>
        </li>
        <li class="list-prato">
            <div class="Prato-menu">
                <div class="container-menu">
                    <figure>
                        <img src="https://static-images.ifood.com.br/image/upload/t_thumbnail/logosgde/201810231832_2b3b8c04-73fb-4f23-9c89-b75e538404c6.png" alt="Mcdonald's">
                    </figure>
                    <aside></aside>
                    <main>
                        <h5>Macarâo</h5><span>
                            <p class="starred">descricao do prato para o cliente ficar legal e comprar </span>
                    </main>
                </div>
            </div>
        </li>

    </ul>
</div>